/vendor
/node_modules
.env
composer.lock
.ddev

# Application specific
/public/storage
/public/hot
/storage/*.key
/storage/debugbar
/storage/logs/*.log
/storage/logs/*.gz

# Laravel Mix
/public/css/
/public/js/
/public/mix-manifest.json
/public/build/

/composer.phar
/vendor/
/public.zip
